p{
    font-family: BBaran;
}

h1{
    font-family: BBaran;
    font-size: 32px;
}
h2{
    font-family: BBaran;
    font-size: 28px;
}
h3{
    font-family: BBaran;
    font-size: 23px;
}
h4{
    font-family: BBaran;
    font-size: 20px;
}

address{
    font-family: BCompset;
    font-size: 18px;

}

.brand {
    font-family: BBaran;
}

.nav li{
    font-size: 19px;
    font-family: BBaran;
}

.lead {
    font-size: 25px;
}


.persian-table{
    font-family: BCompset;

}

.persian-table th{
   font-size: 17px;
   text-align: right;
}

.persian-table td{
   font-size: 17px;
   text-align: right;
}

blockquote {
    border-left: 0px;
    border-right: 5px solid #EEEEEE;
    margin: 0 0 20px;
    padding-right: 15px;
}

.weblink{
    direction: ltr;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.persian-weblink{
    font-family: BBaran;
    font-size: 20px;
}

.news-header {
    font-family: BBaran;
    font-size: 24px;
    direction: rtl;
    padding-bottom: 20px;
    padding-top: 40px;
}

.persian-text {
    font-family: BLotus;
    direction: rtl;
}

.persian-text-bold {
    font-family: BLotus;
    font-weight: bold;
    direction: rtl;
}

.persian-text-big-bold {
    font-size: 26px;
    font-family: BLotus;
    font-weight: bold;
    direction: rtl;
}
.persian-lable{
    font-family: BBaran;
    font-size: 14px;;
}

.persian-btn {
    font-family: BBaran;
    font-size: 17px;
}


