---
title: People
translate_path : /fa/about/people/
---

<p class="lead text-left">People</p>

<div class="row">
    <div class="span10">
        <br/>

        <!-- Faculties-->
        <blockquote>
            <p class="lead ">
                <strong> Faculties</strong>
            </p>
        </blockquote>
        <hr>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th><i class="icon-user"></i> Name</th>
                <th><i class="icon-book"></i> Title</th>
                <th><i class="icon-home"></i> Personal Home Page</th>
                <th><i class="icon-envelope"></i> Email Address</th>
            </tr>
            </thead>
            <tbody>
            <%get_faculties('en').each do |t|%>
                <tr>
                    <td><%= t[0].strip.capitalize + ', ' + t[1].strip.capitalize %></td>
                    <td><%= t[2] %></td>
                    <% if t[3].strip == '' %>
                        <td>N/A</td>
                    <% else%>
                    <td> <a href="<%= t[3].strip %>"><%= t[3] %></a></td>
                    <% end %>
                    <td><a href="mailto:<%= t[4].strip %>"><%= t[4] %></a></td>
                </tr>
            <% end %>
            </tbody>
        </table>
        <!-- Faculties-->

        <br/>
        <hr>
        <br/>

        <!-- Students-->

        <blockquote>
            <p class="lead ">
                <strong> Students (Master's degree)</strong>
            </p>
        </blockquote>
        <hr>


        <table class="table table-bordered">
            <thead>
            <tr>
                <th><i class="icon-user"></i> Name</th>
                <th><i class="icon-book"></i> Major</th>
                <th><i class="icon-book"></i> Personal Home Page</th>
                <th><i class="icon-envelope"></i> Email Address</th>
            </tr>
            </thead>
            <tbody>
            <%get_students('ms','en').each do |t|%>
            <tr>
                <td><%= t[0].strip.capitalize + ', ' + t[1].strip.capitalize %></td>
                <td>Geometry</td>
                <td>N/A</td>
                <% if t[2] != nil %>
                    <% if t[2].strip == '' %>
                    <td>N/A</td>
                    <% else%>
                    <td> <a href="mailto:<%= t[2].strip %>"><%= t[2] %></a></td>
                    <% end %>
                <% else%>
                    <td>N/A</td>
                <% end %>
            </tr>
            <% end %>
            </tbody>
        </table>

        <br/>
        <hr>
        <br/>

        <blockquote>
            <p class="lead ">
                <strong> Students (Ph.D. degree)</strong>
            </p>
        </blockquote>
        <hr>


        <table class="table table-bordered">
            <thead>
            <tr>
                <th><i class="icon-user"></i> Name</th>
                <th><i class="icon-book"></i> Major</th>
                <th><i class="icon-book"></i> Personal Home Page</th>
                <th><i class="icon-envelope"></i> Email Address</th>
            </tr>
            </thead>
            <tbody>
            <%get_students('phd','en').each do |t|%>
            <tr>
                <td><%= t[0].strip.capitalize + ', ' + t[1].strip.capitalize %></td>
                <td>Mathematics</td>
                <td>N/A</td>
                <% if t[3] != nil %>
                <% if t[3].strip == '' %>
                <td>N/A</td>
                <% else%>
                <td> <a href="mailto:<%= t[3].strip %>"><%= t[3] %></a></td>
                <% end %>
                <% else%>
                <td>N/A</td>
                <% end %>
            </tr>
            <% end %>
            </tbody>
        </table>
        <!-- Students-->
    </div>
</div>

<div id="push"></div>