---
title: Events
translate_path : /fa/events/
---
<div class="row-fluid">
    <!--Latest Course News-->
    <blockquote class="article-headlines">
        <p class="lead ">
            <strong> Course Events </strong>
        </p>
    </blockquote>
    <hr class="line-separator">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th> Event</th>
            <th> Date</th>
            <th> Course Title</th>
            <th> Couse Id</th>
        </tr>
        </thead>
        <tbody>
        <%get_evetns('en').each do |t|%>
        <tr>
            <td><%= t[0] %></td>
            <td><%= t[1] %></td>
            <td><%= t[2] %></td>
            <td><%= t[3] %></td>
        </tr>
        <% end %>
        </tbody>
    </table>
    <!--Latest Course News-->
</div>
<div id="push"></div>